doctype xml

- canonUrl = process.env.CANONICAL_URL.replace(/\/$/, '')

OpenSearchDescription(xmlns='http://a9.com/-/spec/opensearch/1.1/', xmlns:moz='http://www.mozilla.org/2006/browser/search/')
  ShortName= process.env.SITE_TITLE || 'Esplora Block Explorer'
  Description= process.env.SITE_DESC || 'Esplora Block Explorer'
  InputEncoding UTF-8
  Image(width='16', height='16', type='image/x-icon')= `${canonUrl}/img/favicon.png`
  Url(type='text/html', method='GET', template=`${canonUrl}/{searchTerms}`)
  SearchForm= canonUrl
